@{
    ViewBag.Title = "Thanh Toán";
    var cartItems = ViewBag.CheckCart as IEnumerable<ShoppingCartItem>;
}

<style>
    .error {
        color:red
    }
</style>

<link rel="stylesheet" type="text/css" href="~/lib/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/styles/categories_responsive.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="">Thanh toán</h1>
                    <p>Bạn hãy kiểm tra lại thông tin đơn hàng cho chính xác!</p>
                </div>
            </div>
            <hr />

            @if (ViewBag.CheckCart is not null)
            {
                <div class="row">
                    <div class="col-md-9">
                        @await Html.PartialAsync("Partial_Form_Checkout")
                    </div>

                    <div class="col-md-3">
                        @await Html.PartialAsync("Partial_Item_View_Checkout", cartItems)
                    </div>
                </div>
            }
            else
            {
                <div>
                    Bạn chưa có sản phẩm nào. Vui lòng quay lại trang <a href="/san-pham">sản phẩm</a> để mua hàng!!!
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/assets/js/categories_custom.js"></script>
    <script src="~/lib/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email : true
                    },
                },
                messages: {
                    'CustomerName': 'Bạn không được để trống trường này!',
                    'Phone': 'Bạn không được để trống trường này!',
                    'Address': 'Bạn không được để trống trường này!',
                    'Email': 'Email không hợp lệ!'
                }
            });
        });
    </script>
}