@model IEnumerable<string>

<h3>Upload Images</h3>

<form id="upload-image-form" method="post" enctype="multipart/form-data">
    <input type="file" name="images" id="images" multiple accept="image/*" />
    <button type="button" id="upload-images-btn" class="btn btn-primary">Upload Images</button>
</form>

<div id="uploaded-images">
    @if (Model != null && Model.Any())
    {
        <h4>Uploaded Images:</h4>
        @foreach (var imagePath in Model)
        {
            <img src="@imagePath" alt="Uploaded Image" style="max-width: 150px; margin: 5px;" />
        }
    }
</div>